<% form_for @journal_entry do |f| %>

	<table id="journal_entry" class="form">
		<tr>
			<th>Entry for</th>
			<td><%= f.text_field :entry_date, :size => 12, :class => "date_input" %><%= f.hidden_field :created_at, :value => Time.now %></td>
		</tr>
		<tr>
			<th>Weight</th>
			<td><%= f.text_field :weight, :size => 4 %> lbs</td>
		</tr>
		<tr>
			<th>VO2 Max</th>
			<td><%= f.text_field :vo2, :size => 4 %> ml/kg/min</td>
		</tr>
		<tr>
			<th><%= link_to 'Cancel', user_journal_entries_path(current_user), :class => "submit_no_button" %></th>
			<td><%= f.submit "Save", :class => "submit"  %></td>
		</tr>
	</table>

<% end %>
