<div class="content_header">
	<h1>Journal</h1>
</div>

<div class="content" id="journal_index">

	<div id="journal_stats" class="left_column">

		<% if !@current_weight.nil? %>
			<div id="weight_summary">
				<h2>Current weight: <%=h @current_weight %><span class="unit">lbs</span>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add a journal entry", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_journal_entry_path(current_user) %></h2>
		 		<p class="headline_details">Ranging from <%=h @lowest_weight.weight %><span class="unit">lbs</span> on <%=h format_date_select(@lowest_weight.entry_date) %> to <%=h @highest_weight.weight %><span class="unit">lbs</span> on <%=h format_date_select(@highest_weight.entry_date) %></p>
			</div>
		
			<div id="weight_over_time">
				<div id="axis_labels">	
					<span class="y1_label">Weight (pounds)</span>
				</div>
				<div id="weight_graph"></div>
			</div>
		<% else %>
			<h2>Current weight: ?<span class="unit">lbs</span>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add a journal entry", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_journal_entry_path(current_user) %></h2><br>
			<div class="usage_tip"><%= link_to "Record your weight", new_user_journal_entry_path(current_user) %> to graph your progress, see how many calories you burn in each workout, and earn points.</div>
		<% end -%>
		
		<div id="vo2">
			<h2>Current VO<span class="subscript">2</span> Max: <%=h @current_vo2 %><span class="unit">ml/kg/min</span>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add a journal entry", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_journal_entry_path(current_user) %></h2>
			<% if !current_user.manual_vo2? %>
			<p class="headline_details">VO<span class="subscript">2</span> max (short for maximal oxygen uptake or aerobic capacity) is a measure of physical fitness. VO<span class="subscript">2</span> max adds significant accuracy to calorie calculations. <a href="http://sportsmedicine.about.com/od/anatomyandphysiology/a/VO2_max.htm" target="new">Learn more about VO<span class="subscript">2</span> max.</a></p> 
			<p>Because you have not yet entered your VO<span class="subscript">2</span> max, we are using the average value for a moderately fit <%= h current_user.age_bracket(Time.now) %> year old <%= h current_user.sex %>. You can better estimate your VO<span class="subscript">2</span> max with the <a href="http://health.drgily.com/walking-test-peak-aerobic-capacity.php">Rockport Walking Test</a> or one of these <a href="http://www.brianmac.co.uk/vo2max.htm#vo2" target="new">alternative evaluation tests</a>.</p>
			<% end %>
		</div>
		
		<div id="gear">
			<h2>Gear&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add equipment", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_gear_path(current_user) %></h2>
			<% if @gears.size > 0 %>
			<table>
				<% for gear in @gears %>
				<tr>
					<td class="gear_meta">
						<div class="remaining">

							<% if !gear.percent_remaining.nil? %>
							<span class="percent_remaining <%= h gear.percent_remaining_style %>"><%= h gear.percent_remaining %>%</span><br>
							<span class="remaining <%= h gear.percent_remaining_style %>">remaining</span><br>
							<% end %>

						</div>
						<h4><%= h gear.name %> <%= link_to gear.tag + " (#{gear.workouts.size})", user_workouts_path(@user, :tag => gear.tag), :class => "tag" %> <%= link_to image_submit_tag("../../images/pencil.png", :class => "action_icon tip", :title => "edit", :alt => "edit |", :onmouseover => "this.src='../../images/pencil_on.png'", :onmouseout => "this.src='../../images/pencil.png'"), edit_gear_path(gear) %><%= link_to image_tag("../../images/trash.png", :class => "action_icon second tip",  :alt => "delete", :title => "delete", :onmouseover => "this.src='../../images/trash_on.png'", :onmouseout => "this.src='../../images/trash.png'"), gear, :method => :delete, :confirm => "Are you sure you want to delete this gear?" %></h4>
						<% if gear.make || gear.model %><%= h gear.make %> <%= h gear.model %><br><% end -%>
						<% if gear.purchase_date || gear.price || gear.store %>Purchased <%= h time_as_date(gear.purchase_date) %> <% if gear.price %>for $<%= h currency_formatted(gear.price) %><% end -%> <% if gear.store && gear.store != "" %>at <%= h gear.store %><% end -%><br><% end -%>
						<div class="usage_container">
							<% if !gear.percent_used_distance.nil? %>
								<span class="percent_used"><%= h gear.percent_used_distance %>% <span class="used">used</span></span>
								<span id="<%= h gear.id %>" name="distance" class="usage_bar" data="<%= h gear.percent_used_distance %>"></span>
							<% end -%>
							Distance: <%= h meters_to_miles(gear.distance_used).round %> miles <% if !gear.distance_max.nil? %>out of <%= h meters_to_miles(gear.distance_max).round %> miles<% end -%>
						</div>
						<div class="usage_container">
							<% if !gear.percent_used_hours.nil? %>
								<span class="percent_used"><%= h gear.percent_used_hours %>% <span class="used">used</span></span>
								<span id="<%= h gear.id %>" name="hours" class="usage_bar" data="<%= h gear.percent_used_hours %>"></span>
							<% end -%>
							Time: <%= h seconds_to_hours(gear.time_used).round %> hours <% if !gear.hours_max.nil? %>out of <%= h seconds_to_hours(gear.hours_max).round %> hours<% end -%>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
			<% end -%>
		</div>
		
	</div>

	<div id="entries_stream" class="right_column">
		<% if !(@journal_entries.size == 0) %>
			<h2>Recent journal entries</h2>
			<table id="journal_entries_list">
				<% for journal_entry in @journal_entries %>
				<tr>
					<td><%=h format_date_select(journal_entry.entry_date) %></td>
					<td><% if !journal_entry.weight.nil? %>Weighed in at <%=h journal_entry.weight %><span class="unit">lbs</span>.<br><% end -%><% if !journal_entry.vo2.nil? %>Recorded a new VO<span class="subscript">2</span> max of <%=h journal_entry.vo2 %><span class="unit">ml/kg/min</span>.<br><% end -%></td>
				</tr>
				<tr>
					<td class="entry_metadata">&nbsp;</td>
					<td class="entry_metadata">Posted <%=h time_ago_in_words(journal_entry.created_at) %> ago<br></td>
					<td class="entry_metadata right">
						<%= link_to image_submit_tag("../../images/pencil.png", :class => "action_icon tip", :title => "edit", :alt => "edit |", :onmouseover => "this.src='../../images/pencil_on.png'", :onmouseout => "this.src='../../images/pencil.png'"), edit_journal_entry_path(journal_entry) %><%= link_to image_tag("../../images/trash.png", :class => "action_icon second tip",  :alt => "delete", :title => "delete", :onmouseover => "this.src='../../images/trash_on.png'", :onmouseout => "this.src='../../images/trash.png'"), journal_entry, :method => :delete, :confirm => "Are you sure you want to delete this journal entry?" %><br></td>
				</tr>
				<% end %>
			</table>
		<% end -%>
	</div>

</div>