<% form_for @workout, :url => submit_url, :action => 'upload', :html => { :multipart => true } do |f| %>
<%= f.error_messages %>

<!-- TODO Not the Rails Way -->
<%= hidden_field_tag 'device_type', params[:device_type] %>

<table id="edit_workout" class="form">
	<tr>
		<th><%= f.label :name, "Workout name" %></th>
		<td><%= f.text_field :name %></td>
		<td class="comments">&nbsp;</td>
	</tr>
	<tr>
		<th><%= f.label :notes %></th>
		<td><%= f.text_area :notes, :size => "33x4" %></td>
	<tr>
		<th class="annotated"><%= f.label :tag_list, "Tags" %></th>
		<td class="annotated"><%= f.text_field :tag_list %></td>
	</tr>
	<tr>
		<th></th>
		<td class="field_note">Separate tags with a comma</td>
	</tr>
	<tr>
		<th><%= f.label :activity, "Activity type" %></th>
		<td><select id="workout_activity_id" name="workout[activity_id]">
		<%= option_groups_from_collection_for_select(Activity.find_all_by_parent_id(nil), :children, :name, :id, :name, @workout.activity.id) %>
		</select></td>
	</tr>
	<tr>
		<% f.fields_for :devices do |d_f| %>
		<th class="annotated"><%= d_f.label "File location" %></th>
		<td class="annotated"><%= d_f.file_field :source, :size => 20 %></td>
		<% end %>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td class="field_note">
			
			<!-- Device-specific file location and type instructions -->
			
			<% if params[:device_type] == "garmin" %>
				Garmin files end in the extension .tcx.<br>
			<% end %>
			
			<% if params[:device_type] == "polar" %>
				Polar files end in the extension .hrm<br>
				Find your workout in:<br>
				C:\Program Files\Polar\Polar ProTrainer\<USER NAME>\
				
			<% end %>
			
			<% if params[:device_type] == "suunto" %>
				Suunto files end in the extension .sdf<br>
				
			<% end %>
			
			<% if params[:device_type] == "gpx" %>
				Supported GPS data files have the extension .gpx<br>
				For accurate workout duration calculation, each file should include only one track
				
			<% end %>
			
		</td>
	<tr>
		<th><%= f.label :shared %></th>
		<td><%= f.check_box :shared %></td>
	</tr>
	<tr>
		<th><%= link_to 'Cancel', user_workouts_path(current_user), :class => "submit_no_button" %></th>
		<td><%= f.submit "Save", :class => "submit", :disable_with => "Uploading... please wait" %></td>
	</tr>
</table>

<% if params[:device_type] == "garmin" %>

	<div id="locating_files">

		<h3>Finding Your Garmin Files</h3>

		<object width="400" height="300" id="video"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4279824&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4279824&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><br><br>
	
		<p>Your workout files are stored in the following directory on a PC:<br> 
		C:\Documents and Settings\<YOUR ACCOUNT>\Application Data\GARMIN\Devices\<RANDOM NUMBER>\History\<WORKOUT FILE></p> 
		<p>On a Mac:<br>
		<USER NAME>/Library/Application Support/Garmin/Devices/3454050485/History</p>
	
	</div>

<% end %>
	
<% if params[:device_type] == "suunto" %>

	<div id="locating_files">
	
		<h3>Finding Your Suunto Files</h3>

		<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4579241&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4579241&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><br><br>

		<p>To import your Suunto workout data:</p>
		<ol>
			<li>Open Training Manager</li>
			<li>Right click on the workout</li>
			<li>Select "export to file" -> "export to Suunto file"</li>
			<li>Choose where to save your .sdf file</li>
			<li>Browse at left to select your .sdf file</li>
		</ol>
	
	</div>

<% end %>


<% end %>
	

	