<% form_for @workout, :url => submit_url, :action => 'upload', :html => { :multipart => true } do |f| %>
<%= f.error_messages %>

<!-- TODO Not the Rails Way -->
<%= hidden_field_tag 'device_type', params[:device_type] %>

<table id="edit_workout" class="form">
	<tr>
		<th><%= f.label :name, "Workout name" %></th>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<th><%= f.label :tag_list, "Tags" %></th>
		<td class="annotated"><%= f.text_field :tag_list %></td>
	</tr>
	<tr>
		<th></th>
		<td class="field_note">Separate tags with a comma</td>
	</tr>
	<tr>
		<th><%= f.label :activity, "Activity type" %></th>
		<td><%= f.select "activity_id", Activity.find(:all).collect { |p| [p.name, p.id] } %></td>
	</tr>
	<tr>
		<th><%= f.label "File location" %></th>
		<td><%= file_field_tag "device_file" %> </td>
	</tr>
	<tr>
		<th><%= f.label :shared %></th>
		<td><%= f.check_box :shared %></td>
	</tr>
	<tr>
		<th><%= link_to 'Cancel', user_workouts_path(current_user), :class => "submit" %></th>
		<td><%= f.submit "Save", :class => "submit" %></td>
	</tr>
</table>

	<% end %>
	

	