<h1>Workouts#edit</h1>

<% form_for @workout, :url => workout_path, :action => 'upload', :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :object => f %>
  	<%= f.submit "Save" %> 
<% end %>

<%= link_to 'Show', @workout %> |
<%= link_to 'Back', workouts_path %>