<h1>Listing workouts</h1>
 
Hello 
<div class="data">
<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>Avg. HR</th>
	<th>Tag</th>
  </tr>
 
<% for workout in @workouts %>
  <tr>
    <td><%=link_to workout.name, [current_user, workout] %></td>
    <td><%=h workout.start_time %></td>
    <td><%=h workout.average_hr %></td>
	<td>
	<% for tag in workout.tag_list %>
	<%= link_to tag, user_workouts_path + '?tag=' + tag %>
	<% end %></td>
    <td><%= link_to 'Edit', edit_user_workout_path(current_user, workout) %> | 
    <%= link_to 'Delete', [current_user, workout], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<% if (params[:tag])%>
<%= link_to 'Clear Tags', user_workouts_path %> 
<% end %>
<%= link_to 'New workout', new_user_workout_path(current_user) %>