<div id="content_header">
	<h1>Workouts <%= link_to '+', new_user_workout_path(current_user) %></h1>
</div>

<div id="content">

<!-- Layout for workout count by activity -->
	<!-- <div id="workouts_stats">
		<ul class="activity_summary">
			<li><div><img class="activity_icon_small" src="/images/activities/running.png">Trail Running: <span class="count">12</span></div></li>
			<li><div><img class="activity_icon_small" src="/images/activities/running.png">Hiking: <span class="count">7</span></div></li>
			<li><div><img class="activity_icon_small" src="/images/activities/running.png">Road Running: <span class="count">3</span></div></li>
			<li><div><img class="activity_icon_small" src="/images/activities/running.png">Road Running: <span class="count">3</span></div></li>
		</ul>
		<br>
	</div> -->

	<% if (params[:tag])%>
		<p class="filtered">Filtered by: <%= h params[:tag] %>&nbsp;
		<%= link_to 'x', user_workouts_path(current_user) %> </p>
	<% end %>

	<div id="workouts_list">
		<table class="newsfeed">
			<% for workout in @workouts %>
			<tr>
				<td class="first_column"><%= image_tag(workout.activity.root.icon_path, :class => "activity_icon_small") %> <%= h workout.activity.name %> </td>
				<td class="name"><%= link_to workout.name, workout %></td>
				<td><%=h time_as_date(workout.start_time) %></td>
				<td><%= h number_to_short_time(workout.duration) %></td>
				<td class="tags"><% for tag in workout.tag_list %>
					<%= link_to tag, user_workouts_path(current_user, :tag => tag) %>
					<% end %></td>
				<td class="last_column"><%= link_to 'Edit', edit_workout_path(workout) %> | 
					<%= link_to 'Delete', workout, :method => :delete %></td>
			</tr>
		<% end %>
		</table>
	</div>

</div>