<h1>Listing workouts</h1>

Hello <%=h current_user.email %>
<div class="data">
<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>Avg. HR</th>
  </tr>

<% for workout in @workouts %>
  <tr>
    <td><%=link_to workout.name, workout %></td>
    <td><%=h workout.start_time %></td>
    <td><%=h workout.average_hr %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %> | 
    <%= link_to 'Delete', workout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New workout', new_workout_path %>

