<div class="content_header">
	<% if !current_user %>
		<div id="join_prompt_index">
			<a href="/">Join ZED9 to track your workouts and see how you measure up</a>
		</div>
	<% end %>

	<h1>Workouts <span class="by">by</span> <%= link_to @user.display_name, user_path(@user) %> <span class="points">(<%=h @user.points %> points)</span> <% if my_page? %><span class="action"><%= link_to 'add', new_user_workout_path(current_user) %></span><% end %></h1>
</div>

<div class="content" id="workouts">

	<div id="workouts_list">

		<% if (params[:tag])%>
			<p class="filtered">Filtered by: <%= h params[:tag] %>&nbsp;
			<%= link_to 'x', user_workouts_path(@user) %> </p>
		<% end %>

		<table id="workouts_index" class="newsfeed sortable">
			<thead> 
				<tr>
					<th><br></th>
					<th>Workout Name</th>
					<th>Date <!-- <img src="/images/open.png" style="vertical-align:middle"> --></th>
					<th>Duration</th>
					<th>Distance</th>
					<th>Speed</th>
					<th>Elevation</th>
					<th class="no_wrap">Heart Rate</th>
					<th>Tags</th>
					<th><br></th>
				</tr>
			</thead> 
			<tbody>
				<% for workout in @workouts %>
				<tr class="newsfeed_workout_summary">
					<td class="icon_col"><%= link_to image_tag(workout.activity.root.icon_path, :class => "activity_icon_small", :alt => workout.activity.name, :title => workout.activity.name), activity_path(workout.activity) %></td>
					<td class="name"><%= link_to workout.name, workout %></td>
					<td class="date no_wrap"><%=h time_as_date(workout.start_time) %></td>
					<td class="duration no_wrap"><% if !workout.duration.nil? %><span class="sort_value"><%= h number_to_time(workout.duration) %></span><span class="unit">h</span><% end %><br></td>
					<td class="distance no_wrap"><% if !workout.distance_in_miles.nil? %><span class="sort_value"><%=h workout.distance_in_miles %></span><span class="unit">miles</span><% end %><br></td>
					<td class="speed no_wrap"><% if !workout.avg_speed_in_mph.nil? %><span class="sort_value"><%=h workout.avg_speed_in_mph %></span><span class="unit">mph</span><% end %><br></td>				
					<td class="elevation no_wrap"><% if !workout.elevation.nil? %><span class="sort_value"><%=h workout.elevation_in_feet.round(0).to_i %></span><span class="unit">ft</span><% end %><br></td>
					<td class="hr no_wrap"><% if !workout.hr.nil? %><span class="sort_value"><%=h workout.hr %></span><span class="unit">bpm</span><% end %><br></td>
					<td class="tags"><% for tag in workout.tag_list %>
						<%= link_to tag, user_workouts_path(@user, :tag => tag) %>
						<% end %><br></td>
					<% if my_page? %><td class="last_column no_wrap"><%= link_to image_submit_tag("../../images/pencil.png", :class => "action_icon", :onmouseover => "this.src='../../images/pencil_on.png'", :onmouseout => "this.src='../../images/pencil.png'"), edit_workout_path(workout) %>&nbsp;<%= link_to image_tag("../../images/trash.png", :class => "action_icon",  :onmouseover => "this.src='../../images/trash_on.png'", :onmouseout => "this.src='../../images/trash.png'"), workout, :method => :delete, :confirm => "Are you sure you want to delete this workout?" %><br></td><% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

</div>