<div id="content_header">
	<h1>Workouts <%= link_to '+', new_user_workout_path(current_user) %></h1>
</div>

<div id="content">

	<% if (params[:tag])%>
		Filtered by <%= h params[:tag] %> &nbsp;
		<%= link_to 'x', user_workouts_path(current_user) %> 
	<% end %>

	<table class="workout_listing">
		<thead>
			<tr>
				<th width="198px">Name</th>
				<th width="264px">Date</th>
				<th width="198px">Tags</th>
				<th width="120px">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% for workout in @workouts %>
			<tr>
				<td><%=link_to workout.name, workout %></td>
				<td><%=h workout.start_time %></td>
				<td><% for tag in workout.tag_list %>
					<%= link_to tag, user_workouts_path(current_user, :tag => tag) %>
					<% end %></td>
				<td><%= link_to 'Edit', edit_workout_path(workout) %> | 
					<%= link_to 'Delete', workout, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>