<div id="content_header">
	<h1>Add a Workout</h1>
</div>

<div id="content">
	<% if params[:device_type] %>
			<%= render :partial => 'form', :locals => { :submit_url => user_workouts_path(current_user) } %>
	<% else %>
	<ul>
	  <li><%= link_to 'Garmin', url_for(:action => 'new', :device_type => 'garmin') %></li>
	  <li><%= link_to 'Polar', url_for(:action => 'new', :device_type => 'polar') %></li>
	  <li><%= link_to 'Suunto', url_for(:action => 'new', :device_type => 'suunto') %></li>
	  <li><%= link_to 'GPS', url_for(:action => 'new', :device_type => 'gpx') %></li>

	  <li class="coming_soon">Nike+</li>
	</ul>
	<% end -%>
</div>

