<% if params[:device_type] %>
<% form_for @workout, :url => workouts_path, :action => 'upload', :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	
	<!-- TODO Not the Rails Way -->
	<%= hidden_field_tag 'device_type', params[:device_type] %>
	<%= render :partial => 'form', :object => f %>
  	<%= f.submit "Create" %> 
<% end %>
<% else %>
<ul>
  <li>Nike +</li>
  <li><%= link_to 'Garmin', url_for(:action => 'new', :device_type => 'garmin') %></li>
  <li><%= link_to 'Polar', url_for(:action => 'new', :device_type => 'polar') %></li>
  <li>Generic GPS</li>
</ul>
<% end -%>
 
<%= link_to 'Back', workouts_path %>