<div id="content_header">
	<div id="workout_header">

		<h1><img class="activity_icon" src="/images/running.jpg" width="37" height="40"> <span class="click"><%=h @workout.name %></span> <% if my_workout? %><span class="action"><%= link_to 'Edit', edit_workout_path(@workout) %></span><% end %></h1>

		<p id="workout_description"><span class="click"><%=h @workout.activity.name %></span> on <span class="click"><%=h @workout.start_time %></span> by <%=h @workout.user.login %></p>

		<!-- <p id="workout_notes">Notes on the workout</p> -->

		<div id="tag_set">
			<span id="tags_header">Tags:<% if my_workout? %><% end %></span>
			<span id="tags_list">
				<% @workout.tags.each do |tag| %>
				<span class="tag">
					<a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a> 
					<%= link_to tag.name, user_workouts_path(current_user, :tag => tag.name) %>
					<% if my_workout? %><% end %>
				</span>
				<% end %>
			</span>
			<% if false %>
			<span class="form">
				<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
					<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
					<%= f.submit "Add", :class => "submit" %>
				<% end %>
			<% end %>
			</span>
		</div>	
	</div>	

	<div id="view_selection">
		<span class="coming_soon">selector for alternate workout views coming here soon</span>
	</div>	

</div>

<div id="content">
	<div id="workout_left_column">
		<table id="workout_comparison">
				<thead>
					<tr>
						<th class="first_column">&nbsp;</th>
						<th>This workout</th>
						<th>My 	<%= h @workout.activity.name %></th>
						<th class="last_column">All <%= h @workout.activity.name %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first_column">Average Heart Rate</th>
						<td><span class="click"><%=h @workout.average_hr %></span></td>
						<td><%=h @comps[@workout.activity.name]["hr"] %></td>
						<td class="last_column"><%=h @comps["global"]["hr"] %></td>
					</tr>
					<tr>
						<th class="first_column">Duration</th>
						<td><span class="click"><%=h number_to_time(@workout.duration) %></span></td>
						<td><%=h number_to_time(@comps[@workout.activity.name]["duration"]) %></td>
						<td class="last_column"><%=h number_to_time(@comps["global"]["duration"]) %></td>
					</tr>
					<tr>
						<th class="first_column">Distance</th>
						<td><span class="click"><%= h @workout.distance_in_miles %></span> miles</td>
						<td><%= h @comps[@workout.activity.name]["distance"] %> miles</td>
						<td class="last_column"><%=h @comps["global"]["distance"] %> miles</td>
					</tr>
					<tr>
						<th class="first_column">Average Speed</th>
						<td><span class="click"><%=h @workout.avg_speed_in_mph %></span> mph</td>
						<td><%= h @comps[@workout.activity.name]["speed"] %> mph</td>
						<td class="last_column"><%=h @comps["global"]["speed"] %> mph</td>
					</tr>
				</tbody>
		</table>
	</div>

	<div id="right_column">
		<div id="map">
			<% if @workout.gps_data? %>
	        <%= @map.div(:width => 400, :height => 300) %>
			<% end %>
		</div>

		<div id="heart_rate_graph">
			<%= ziya_chart workout_heart_rate_chart_path(@workout), :size => "528x240", :salign => "TR", :scale => "exactFit" -%>
		</div>
	</div>
	
</div>

