<%= javascript_tag "var WORKOUT_ID = #{@workout.id};" -%>
<div id="content_header">

	<div id="workout_header">
		
		<% if !current_user %>
			<div id="join_prompt">
				<a href="../">Join ZED9 to track your workouts and see how you measure up</a>
			</div>
		<% end %>

		<h1><!-- <img class="activity_icon" src="/images/running.jpg" width="37" height="40"> -->
			<%= image_tag(@workout.activity.root.icon_path, :class => "activity_icon") %><%=h @workout.name %> <% if my_workout? %><span class="action"><%= link_to 'Edit', edit_workout_path(@workout) %></span><% end %></h1>
			
			<p id="workout_description"><span class="click"><%= link_to @workout.activity.name, activity_path(@workout.activity) %>	</span> on <span class="click"><%=h activity_timestamp(@workout.start_time) %></span> by <%=h @workout.user.login %></p>

			<!-- <p id="workout_notes">Notes on the workout</p> -->

			<div id="tag_set">
				<span id="tags_header">Tags:<% if my_workout? %><% end %></span>
				<span id="tags_list">
					<% @workout.tags.each do |tag| %>
					<span class="tag">
						<a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a> 
						<%= link_to tag.name, user_workouts_path(@workout.user, :tag => tag.name) %>
						<% if my_workout? %><% end %>
					</span>
					<% end %>
				</span>
				<% if false %>
				<span class="form">
					<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
						<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
						<%= f.submit "Add", :class => "submit" %>
					<% end %>
				<% end %>
				</span>
			</div>	

	</div>	
	
</div>

<div id="content">

	<div id="workout_left_column" class="left_column">
		
		<table id="workout_stats">
			<tr class="stat" unit="seconds" id="duration">
				<th class="spark_bar_title">Duration</th>
				<td id="spark_bar"><div id="duration" class="sparkbar"></div></td>
				<td class="number"><span class="value"><%= h number_to_time(@workout.duration) %></span>h</td>
			</tr>
			
			<% if !@workout.distance.nil? %>
			<tr class="stat" unit="miles" id="distance">
				<th class="spark_bar_title">Distance</th>
				<td id="spark_bar" id="distance"><div id="distance" class="sparkbar"></div></td>
				<td class="number"><span class="value"><%= h @workout.distance_in_miles %></span>miles</td>
			</tr>
			<% end -%>
			
			<% if false %>
			<tr class="stat" unit="kCal" id="calorie">
				<th class="spark_bar_title">Calories</th>
				<td id="spark_bar"><div id="calorie" class="sparkbar"></div></td>
				<td class="number"><span class="value">N/A</span></td>
			</tr>
			<% end -%>
			
			<% if !@workout.speed.nil? %>
			<tr class="stat" unit="mph" id="speed">
				<th class="spark_line_title">Speed</th>
				<td id="spark_line"><div id="speed" class="sparkline"></div></td>
				<td class="number spark_line_title"><span class="value"> <%= h @workout.avg_speed_in_mph %> </span>mph</td>
			</tr>
			<% end -%>
			
			<% if !@workout.elevation.nil? %>
			<tr class="stat" unit="ft" id="elevation">
				<th class="spark_line_title">Elevation</th>
				<td id="spark_line"><div id="elevation" class="sparkline"></div></td>
				<td class="number spark_line_title"><span class="value"><%=h @workout.elevation_in_feet %></span>ft</td>
			</tr>
			<% end -%>
			
			<% if !@workout.hr.nil? %>
			<tr class="stat" unit="bpm" id="hr">
				<th class="spark_line_title">Heart Rate</th>
				<td id="spark_line"><div id="hr" class="sparkline"></div></td>
				<td class="number spark_line_title"><span class="value"><%=h @workout.hr %></span>bpm</td>
			</tr>
			<% end %>
		</table>

	</div>

	<% if @workout.gps_data? %>
		
	<div id="workout_right_column" class="right_column">
		<div id="map">
	        <%= @map.div(:width => 536, :height => 296 ) %>
		</div>

	</div>
	<% end %>
	
	<div id="fullsize_chart_area">
		<% if @workout.hr %>
		<h2>Heart Rate</h2>
		<div id="json_heartrate_big" class="big_visualization"></div>
		<% else %>
		<h2>Speed</h2>
		<div id="json_speed_big" class="big_visualization"></div>
		<% end %>
	</div>
	
</div>

