<div id="content_header">

	<img class="activity_icon" src="/images/running.jpg">

	<span id="name">	
		<img src="/images/spacer.png" width="1" height="78">
		<h1><%=h @workout.name %></h1>
		<% if my_workout? %>
		<%= link_to image_tag("pencil.jpg", :class => "action_icon"), edit_workout_path(@workout) %>
		<% end %>
	</span>

</div>

<div id="content" class="content">

	<div id="workout">
		<!-- TO SUPPORT LATER ><p class="workout_notes">Notes on the workout</p> -->
		<div id="workout_summary">
			<table class="workout_comparison">
				<thead>
					<tr>
						<th class="left_column">&nbsp;</th>
						<th><%=h @workout.name %></th>
						<th>My 	<%= @workout.activity.name if @workout.activity %></th>
						<th>All Zed9</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Average Heart Rate</td>
						<td><%=h @workout.average_hr %></td>
						<td><%=h @workout.comps_average_hr(@my_comps) %></td>
						<td><% if false %> <%=h @workout.comps_average_hr(@all_comps) %> <% end %></td>
					</tr>
					<tr>
						<td>Duration</td>
						<td><%=h number_to_time(@workout.duration) %></td>
						<td><%=h number_to_time(@workout.comps_average_duration(@my_comps)) %></td>
						<td><%=h number_to_time(@workout.comps_average_duration(@all_comps)) %></td>
					</tr>
				</tbody>
			</table>

			<p>
				<b>Start Time</b>
				<%=h @workout.start_time %>
			</p>

			<p>
				<b>Activity Type:</b>
				<%= @workout.activity.name if @workout.activity %>
				<p>
					<%= ziya_chart workout_chart_path(@workout), :size => "600x300" -%>
				</p>
			</div>
			<% if @workout.gps_data? %>
	        <%= @map.div(:width => 600, :height => 400) %>
			<% end %>
		</div>
		<div id="right_rail"> 
			<div id="tags">
				<h3>Tags</h3> <% if my_workout? %><a class="add-plus" href="">+</a><% end %>
				<div id="tags_list">
					<% @workout.tags.each do |tag| %>
					<a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a> 
					<%= link_to tag.name, workouts_path(:tag => tag.name) %>
					<% if my_workout? %> <%= link_to "", workout_tagging_path(@workout,tag), :method => :delete, :class => "delete-x"  %> <% end %><br \>
					<% end %>
				</div>
				<br>
				<% if my_workout? %>
				<div class="form">
					<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
						<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
						<%= f.submit "Add", :class => "submit" %>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>