<h1>Workouts#show</h1>
 
<p>
    NAME: <%=h @workout.name %><BR><BR>
 <b>Start time:</b><BR><BR>
  <%=h @workout.start_time %>
</p>
 
<p>
  <b>Average heart rate:</b>
  <%=h @workout.average_hr %>
</p>

<p>
	<b>Tags:</b>
	<% for tag in @workout.tag_list %>
	<%= link_to tag, user_workouts_path + '?tag=' + tag %>
	<% end %>
 </p>

<p>
	<%= ziya_chart user_workout_chart_path(current_user, @workout), :size => "400x300" -%>
</p>

<p>
<%= link_to 'Edit', edit_user_workout_path(current_user, @workout) %> |
<%= link_to 'Back', user_workouts_path %>
</p>