<div id="content_header">

	<img class="activity_icon" src="/images/running.jpg">

	<span id="name">	
		<img src="/images/spacer.png" width="1" height="78">
		<h1><%=h @workout.name %></h1>
		<%= link_to image_tag("pencil.jpg", :class => "action_icon"), edit_workout_path(@workout) %>

	</span>

</div>

<div id="content" class="content">

	<div id="workout">
		<p class="workout_notes">Notes on the workout</p>
		<div id="workout_summary">
			<table class="workout_comparison">
				<thead>
					<tr>
						<th class="left_column">&nbsp;</th>
						<th><%=h @workout.name %></th>
						<th>My 	<%= @workout.activity.name if @workout.activity %></th>
						<th>All Zed9</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Average Heart Rate</td>
						<td><%=h @workout.average_hr %></td>
						<td><%=h @workout.comps_average_hr(@my_comps) %></td>
						<td><% if false %> <%=h @workout.comps_average_hr(@all_comps) %> <% end %></td>
					</tr>
					<tr>
						<td>Duration</td>
						<td><%=h number_to_time(@workout.duration) %></td>
						<td><%=h number_to_time(@workout.comps_average_duration(@my_comps)) %></td>
						<td><%=h number_to_time(@workout.comps_average_duration(@all_comps)) %></td>
					</tr>
				</tbody>
			</table>

			<p>
				<b>Start Time</b>
				<%=h @workout.start_time %>
			</p>

			<p>
				<b>Activity Type:</b>
				<%= @workout.activity.name if @workout.activity %>
				<p>
					<%= ziya_chart workout_chart_path(@workout), :size => "600x300" -%>
				</p>
			</div>
		</div>
		<div id="right_rail"> 
			<div id="tags">
				<h3>Tags</h3> <a class="add-plus" href="">+</a>
				<div id="tags_list">
					<% @workout.tags.each do |tag| %>
					<a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a> 
					<%= link_to tag.name, workouts_path(:tag => tag.name) %>
					<%= link_to "", workout_tagging_path(@workout,tag), :method => :delete, :class => "delete-x"  %><br \>
					<% end %>
				</div>
				<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
					<%= f.label "Add Tag" %>
					<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
					<%= f.submit "Create" %>
				<% end %>
					
			</div>
		</div>
	</div>
	<div class="clear">
		<br>
	</div>
	<p>
		<%= link_to 'Edit', edit_workout_path(@workout) %> |
		<%= link_to 'Back', workouts_path %>
	</p>
</div>