<%= javascript_tag "var WORKOUT_ID = #{@workout.id};" -%>
<div id="content_header">
	<div id="workout_header">

		<h1><img class="activity_icon" src="/images/running.jpg" width="37" height="40"> <span class="click"><%=h @workout.name %></span> <% if my_workout? %><span class="action"><%= link_to 'Edit', edit_workout_path(@workout) %></span><% end %></h1>

		<p id="workout_description"><span class="click"><%=h @workout.activity.name %></span> on <span class="click"><%=h activity_timestamp(@workout.start_time) %></span> by <%=h @workout.user.login %></p>

		<!-- <p id="workout_notes">Notes on the workout</p> -->

		<div id="tag_set">
			<span id="tags_header">Tags:<% if my_workout? %><% end %></span>
			<span id="tags_list">
				<% @workout.tags.each do |tag| %>
				<span class="tag">
					<a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a> 
					<%= link_to tag.name, user_workouts_path(@workout.user, :tag => tag.name) %>
					<% if my_workout? %><% end %>
				</span>
				<% end %>
			</span>
			<% if false %>
			<span class="form">
				<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
					<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
					<%= f.submit "Add", :class => "submit" %>
				<% end %>
			<% end %>
			</span>
		</div>	
	</div>	

	<!-- <div id="view_selection">
		<span class="coming_soon">selector for alternate workout views coming here soon</span>
	</div>	 -->

</div>

<div id="content">

	<div id="workout_left_column">
		
		<table id="workout_comparison">
			<tr class="stat">
				<th>Duration</th>
				<td id="spark_bar"><div id="placeholder" class="visualization"></div></td>
				<td class="number"><span class="value"><%=h number_to_time(@workout.duration) %></span>h</td>
			</tr>
			<tr class="stat">
				<th>Distance</th>
				<td id="spark_bar"><div id="placeholder2" class="visualization"></div></td>
				<td class="number"><span class="value"><%= h @workout.distance_in_miles %></span>miles</td>
			</tr>
			<tr class="stat">
				<th>Calories</th>
				<td id="spark_bar"><div id="placeholder3" class="visualization"></div></td>
				<td class="number"><span class="value">N/A</span></td>
			</tr>
			<tr class="stat">
				<th>Speed</th>
				<td id="spark_line"><div id="speed" class="visualization"></div></td>
				<td class="number"><span class="value"><%= h @comps[@workout.activity.name]["speed"] %></span>mph</td>
			</tr>
			<tr class="stat">
				<th>Elevation</th>
				<td id="spark_line"><div id="elevation" class="visualization"></div></td>
				<td class="number"><span class="value"><%=h @workout.elevation_formatted %></span>ft</td>
			</tr>
			<tr class="stat">
				<th>Heart Rate</th>
				<td id="spark_line"><div id="heartrate" class="visualization"></div></td>
				<td class="number"><span class="value"><%=h @workout.average_hr %></span>bpm</td>
			</tr>
		</table>

	</div>
		
	<div id="right_column">
		<div id="map">
			<% if @workout.gps_data? %>
	        <%= @map.div(:width => 512, :height => 420 ) %>
			<% end %>
		</div>

	</div>

	<div id="heart_rate_graph">

		<div id="y_axis">
			<p class="axis_label">Heart Rate</p>
		</div>
		
			<%= ziya_chart workout_heart_rate_chart_path(@workout), :width => "100%", :height => 168 -%>
	</div>
	
</div>

