<% title "ZED9: " + @workout.name + " by " + @workout.user.display_name %>

<%= javascript_tag "var WORKOUT_ID = #{@workout.id};" -%>


<div class="content_header">


	<div id="workout_header">
		
		<% if !@workout.rpe.nil? %>
		<div id="display_rpe" class="tip" title="The Borg Rating of Perceived Exertion, or RPE, is a quantification of the intensity of a workout.">
			<p class="rpe_label">RPE</p>
			<p class="rpe_val"><%=h @workout.rpe %></p>
			<p class="rpe_desc"><%=h @rpe.description(@workout.rpe) %></p>
		</div>
		<% end -%>

		<h1>
			<%= link_to image_tag(@workout.activity.root.icon_path, :class => "activity_icon"), activity_path(@workout.activity) %><%=h @workout.name %>  
			<% if my_page? %>
				<%= link_to image_submit_tag("../../images/pencil.png", :class => "action_icon tip", :alt => "edit", :title => "edit", :onmouseover => "this.src='../../images/pencil_on.png'", :onmouseout => "this.src='../../images/pencil.png'"), edit_workout_path(@workout) %><%= link_to image_tag("../../images/trash.png", :class => "action_icon second tip", :alt => "delete", :title => "delete", :onmouseover => "this.src='../../images/trash_on.png'", :onmouseout => "this.src='../../images/trash.png'"), @workout, :method => :delete, :confirm => "Are you sure you want to delete this workout?" %>
				<!-- <span class="action"><%= link_to 'edit', edit_workout_path(@workout) %></span> -->
			<% else %>
				<span class="by">by</span> <%= link_to @workout.user.display_name, user_path(@workout.user) %> <span class="points">(<%=h @workout.user.points %> points)</span> 
			<% end -%></h1>
			
			<p id="workout_description"><%= link_to @workout.activity.name, activity_path(@workout.activity) %> on <%=h activity_timestamp_shorter(@workout.start_time) %>. Posted <%= h activity_timestamp_shorter(@workout.created_at) %>. 
				<% if @workout.comments.size > 0 %><span class="comment_count tip" title="comments"><%= link_to @workout.comments.size, :anchor => "comments" %></span><% end -%></p>

			<% if my_page? && @workout.overlaps? %>
				<div id="overlaps">
					<img src="/images/info_icon.png">This overlaps with another workout.<br><%= link_to 'Check out your merging options.', workout_overlaps_path(@workout) %>
				</div>
			<% end -%>

			<% if !(@workout.notes == "") %><span id="workout_notes"><%= simple_format @workout.notes %></span><% end -%>

			<!-- Condition to only display Tags field when there are tags, or prompt owner to tag -->
			<% if @workout.tags.size > 0 %>
			<div id="tag_set">
				<span id="tags_header">Tags:<% if my_page? %><% end %></span>
				<span id="tags_list">
					<% @workout.tags.each do |tag| %>
					<span class="tag">
						<!-- <a class="globe" href="#"><span class="displace">Global</span><img src="/images/spacer.png" width="18px" height="18px"></a>  -->
						<%= link_to tag.name, user_workouts_path(@workout.user, :tag => tag.name) %>
					</span>
					<% end %>
				</span>
				<% if false %>
				<span class="form">
					<% form_for @tagging, :url => workout_taggings_path(@workout) do |f| %>
						<input type="text" name="name" id="new_tag_name" autocomplete="off"/>
						<%= f.submit "add", :class => "submit_no_button" %>
					<% end %>
				<% end %>
				</span>
			</div>	
			<% elsif my_page? && @workout.tags.size == 0 %>
			<span id="tags_header"><%= link_to 'Tag this workout', edit_workout_path(@workout) %></span>
			<% end %>
			
	</div>	
	
</div>

<div class="content">

	<% if !@workouts_nearby.nil? && @workouts_nearby.size > 0 %>
	<div id="workouts_nearby_wrapper" class="options_menu_wrapper">
		<div id="workouts_nearby_link" class="options_link"><% if @workouts_nearby.size > 0 %><%= h @workouts_nearby.size %> nearest workouts<% end %></div>
		<div id="nearby_workouts_list_container">
			<ol>
			<% for workout in @workouts_nearby %>
				<li><%= link_to workout.name, workout %> (<%= h workout.activity.name %>) by <%= link_to workout.user.display_name, user_path(workout.user) %> on <%= h time_as_date(workout.start_time) %></li>
			<% end %>
			</ol>
		</div>
	</div>
	<% end -%>

	<div id="workout_left_column" class="left_column">
		
		<table id="workout_stats">
			<tr class="stat" unit="h" id="duration">
				<th class="spark_bar_title">Duration</th>
				<td id="spark_bar"><div id="duration" class="sparkbar" data-src="<%= workout_data_path(@workout, :q => 'duration') %>"></div></td>
				<td class="number"><span class="value"><%= h number_to_time(@workout.duration) %></span><span class="units">hours</span></td>
				<td>&nbsp;</td>
			</tr>
			
			<% if !@workout.distance.nil? %>
			<tr class="stat" unit="miles" id="distance">
				<th class="spark_bar_title">Distance</th>
				<td id="spark_bar" id="distance"><div id="distance" class="sparkbar" data-src="<%= workout_data_path(@workout, :q => 'distance') %>"></div></td>
				<td class="number"><span class="value"><%= h @workout.distance_in_miles %></span><span class="units">miles</span></td>
				<td>&nbsp;</td>
			</tr>
			<% end -%>
			
			<% if !@workout.cals.nil? %>
			<tr class="stat" unit="kCal" id="cals">
				<th class="spark_bar_title">Calories</th>
				<td id="spark_bar"><div id="cals" class="sparkbar" data-src="<%= workout_data_path(@workout, :q => 'calories') %>">></div></td>
				<td class="number"><span class="value"><%= h @workout.cals %></span><span class="units">kCal</span></td>
			</tr>
			<% end -%>
			
			<% if !@workout.speed.nil? %>
				<tr class="stat" unit="mph" id="speed">
					<th class="spark_line_title">Speed</th>
					<td id="spark_line"><div id="speed" class="<%= sparktype(@workout) %>" data-src="<%= workout_data_path(@workout, :q => 'speed') %>"></div></td>
					<td class="number spark_line_title"><span class="value"><%= h speed_to_pace(@workout) %></span><span class="units"><%=h units(@workout,:speed) %></span></td>
					<td class="max" id="max_speed"><%= h max_speed_to_pace(@workout) %><span class="units">max</span></td>
				</tr>
			<% end -%>
			
			<% if !@workout.elevation.nil? %>
			<tr class="stat" unit="ft" id="elevation">
				<th class="spark_line_title">Elevation</th>
				<td id="spark_line"><div id="elevation" class="<%= sparktype(@workout) %>" data-src="<%= workout_data_path(@workout, :q => 'elevation') %>"></div></td>
				<td class="number spark_line_title"><span class="value"><%=h @workout.elevation_in_feet %></span><span class="units">feet</span></td>
				<td class="max" id="max_elevation"><% if @workout.trackpoints? %><%= h meters_to_feet(@workout.max(:elevation)) %><span class="units">max</span><% end %></td>
				
			</tr>
			<% end -%>
			
			<% if !@workout.hr.nil? %>
			<tr class="stat" unit="bpm" id="hr">
				<th class="spark_line_title">Heart rate</th>
				<td id="spark_line"><div id="hr" class="<%= sparktype(@workout) %>" data-src="<%= workout_data_path(@workout, :q => 'hr') %>"></div></td>
				<td class="number spark_line_title"><span class="value"><%=h @workout.hr %></span><span class="units">bpm</span></td>
				<td class="max" id="max_hr">
					<% if !@workout.hr_max.nil? %><%=h @workout.hr_max %>
					<% elsif !@workout.max(:hr).nil? %><%=h @workout.max(:hr) %>
					<% end %>
					<span class="units">max</span>
				</td>
			</tr>
			<% end %>
		</table>

	</div>

	<% if @workout.gps_data? %>		
		<div id="workout_right_column" class="right_column">
			<div id="map">
				<div id="map_div" style="width:516px; height:296px" ></div>
			</div>
		</div>
	<% end -%>
	
	<% if @workout.trackpoints? %>
		<div id="fullsize_chart_area">

			<div id="axis_labels">
				<% if @workout.speed %>
					<h2 id="y1_axis_label">Speed</h2>
					<h2 id="y2_axis_label"></h2>
				<% else %>
					<h2 id="y1_axis_label">Heart rate</h2>
					<h2 id="y2_axis_label"></h2>
				<% end %>
			</div>
			
			
			<div id="graph_options_wrapper">
				<div id="options_link">graph options</div>
				<div id="select_axes">
					<div id="y1_axis_options">
						<ul>
							<li class="column_label">y1</li>
							<% @workout.graph_fields.each_with_index do |value, i| %>
							<li><input type="radio" display_y1="<%= value[1] %>" name="y1_options" <% if i==0 %>checked="checked" <% end %>value="json_<%=h value[0] %>_big"/><!-- <%= value[1] %> --></li>
							<% end %>
							<li>&nbsp;</li>
						</ul>
					</div>
	
					<div id="y2_axis_options">
						<ul>
							<li class="column_label">y2</li>
							<% for field in @workout.graph_fields do %>
							<li class="label"><input type="radio" display_y2="<%= field[1] %>" name="y2_options" value="json_<%=h field[0] %>_big"/><%=h field[1] %></li>
							<% end %>
							<li class="none"><input type="radio" display_y2="&nbsp;" name="y2_options" value="" checked="checked">None</li>
						</ul>
					</div>
					<div class="close">x</div>
				</div>
			</div>

			<% if @workout.speed %>
				<div id="json_speed_big" class="big_visualization"></div>
			<% else %>
				<div id="json_heartrate_big" class="big_visualization"></div>
			<% end %>

		</div>
	<% end -%>
	
	
	<div id="comments">
	
		<% if @workout.comments.size > 0 %>
			<div id="show_comments">
				<h2>Comments</h2>
				<table id="comments_list" class="stream">
				<% for comment in @workout.comments %>
					<tr>
						<td rowspan="2" class="entry_image_container">
							<div class="comment_pic_container">
								<%= link_to image_tag("/images/frame.png", :class => "comment_pic_frame", :alt => ""), user_path(comment.user) %>
								<%= link_to image_tag(comment.user.photo.url(:medium), :class => "profile_pic_big", :alt => ""), user_path(comment.user) %>
							</div>
						</td>
						<td class="entry" colspan="2"><%= simple_format comment.text %></td>
					</tr>
					<tr>
						<td class="metadata">Posted <%=h activity_timestamp_shorter(comment.created_at) %> by <%= h comment.user.display_name %></td>
						<td class="metadata right no_wrap">
							<% if comment.user == @current_user %>
								<%= link_to image_tag("../../images/trash.png", :class => "action_icon second tip",  :alt => "delete", :title => "delete", :onmouseover => "this.src='../../images/trash_on.png'", :onmouseout => "this.src='../../images/trash.png'"), comment, :method => :delete, :confirm => "Are you sure you want to delete this comment?" %>
							<% end -%>	
							<br>
						</td>
					</tr>
				<% end %>
				</table>
			</div>
		<% end -%>
		
		<h2>Add a comment</h2>
		<% if logged_in? %>		
			<div id="add_comment" class="form">
				<% form_for [@workout, Comment.new] do |f| %>
				  <table>
						<tr>
							<td><%= f.text_area :text %></td>
						</tr>
						<tr>
							<td><%= f.submit "Post comment", :class => "submit" %></td>
						</tr>
					</table>
				<% end %>
			</div>
		<% else %>
			<%= link_to "Log in", login_path %> to comment
		<% end %>

	</div>
	
</div>

