<h1><%=h @workout.name %></h1>
<p>
 <b>Start time:</b><BR><BR>
  <%=h @workout.start_time %>
</p>
<p>
  <b>Average heart rate:</b>
  <%=h @workout.average_hr %>
</p>

<p>
	<b>Tags:</b>
	<% for tag in @workout.tag_list %>
	<%= link_to tag, workouts_path + '?tag=' + tag %>
	<% end %>
 </p>

<p>
	<%= ziya_chart workout_chart_path(@workout), :size => "400x300" -%>
</p>

<p>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
</p>