<h1><%=h @workout.name %></h1>
<p>
 <b>Start time:</b><BR><BR>
  <%= @workout.start_time %>
</p>
<p>
  <b>Average heart rate:</b>
  <%= @workout.calc_avg_hr %>  The average was <%= @avg_hr %>
</p>
<p>
	<b>Duration:</b>
	<%= @workout.duration.round(1) %> seconds.  The average workout was <%= @avg_duration %> seconds
<p>
	<b>Tags:</b>
	<% for tag in @workout.tag_list %>
	<%= link_to tag, workouts_path + '?tag=' + tag %>
	<% end %>
 </p>

<p>
	<%= ziya_chart workout_chart_path(@workout), :size => "600x300" -%>
</p>

<p>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
</p>