<h1><%=h @workout.name %></h1>
<div id="activity">
<p>
 <b>Start time:</b><BR><BR>
  <%= @workout.start_time %>
</p>
<p>
  <b>Average heart rate:</b>
  <%= @workout.calc_avg_hr %>  The average was <%= @workout.comps_average_hr %>
</p>
<p>
	<b>Activity Type:</b>
	<%= @workout.activity.name if @workout.activity %>
<p>
	<b>Duration:</b>
	<%= @workout.duration.round(1) %> seconds.  The average workout was <%= @workout.comps_average_duration %> seconds


<p>
	<%= ziya_chart workout_chart_path(@workout), :size => "600x300" -%>
</p>
</div>
<div id="right_rail"> 
	<div id="tags">

<p>
	<b>Tags:</b>
	<div id="tags_list">
	<% for tag in @workout.tag_list %>
	<a class="globe" href="#"><span class="displace">Global</span><img src="./spacer.png" width="18px" height="18px"></a> 
	<%= link_to tag, workouts_path + '?tag=' + tag %>
	<a class="delete-x" href=""></a><br \>
	<% end %>
	</div>
 </p>
</div>
</div>
<div class="clear">
	<br>
</div>
<p>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
</p>