<% form_for @user do |f| %>
  <%= f.error_messages %>


<%= f.hidden_field :invitation_token %>

<table id="registration_form" class="form">
  <tr>
    <th><%= f.label :login, "Login" %></th>
    <td><%= f.text_field :login %></td>
  </tr>
  <tr>
    <th class="annotated"><%= f.label :displayname, "Display name" %></th>
    <td class="annotated"><%= f.text_field :displayname %></td>
  </tr>
  <tr>
	<th>&nbsp;</th>
	<td class="field_note">How you want to be identified - for example Joe, or Joe Smith</td>
 </tr>
  <tr>
    <th class="annotated"><%= f.label :bio, "Bio" %></th>
    <td class="annotated"><%= f.text_area :bio, :size => "28x4" %></td>
  </tr>
  <tr>
	<th>&nbsp;</th>
	<td class="field_note">Tell the community something about yourself!</td>
 </tr>
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <th><%= f.label :sex, "Gender" %></th>
    <td><%= f.radio_button :sex, "female" %> female &nbsp;  <%= f.radio_button :sex, "male" %> male</tr>
  </tr>
  <tr>
    <th><%= f.label :birthdate %></th>
    <td><%= f.date_select :birthdate, :start_year => Time.now.year - 12, :end_year => Time.now.year - 100 %></td>
  </tr>
<% if false %>
  <tr>
    <th class="annotated"><%= f.label :height %></th>
    <td class="annotated"><%= f.text_field :height, :size => "4" %> millimeters</td>
  </tr>
  <tr>
		<th>&nbsp;</th>
		<td class="field_note">Yes, this is lame. It's on the todo list. For reference, 5'10" = 1778mm. </td>
 	</tr>
<% end %>
  <tr>
    <th><%= f.label :time_zone %></th>
    <td><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></td>
  </tr>
	<tr>
		<th><%= f.label :shared, "New workouts are public", :class => "no_wrap" %></th>
		<td><%= f.check_box :shared %></td>
	</tr>
  <tr>
    <th class="annotated"><%= f.label :password, f.object.new_record? ? nil : "Change password" %></th>
    <td class="annotated"><%= f.password_field :password %></td>
  </tr>
  <tr>
	<th>&nbsp;</th>
	<td class="field_note">Passwords must be at least 4 characters</td>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation, "Confirm password" %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
	<tr>
		<th><%= link_to 'Cancel', current_user, :class => "submit_no_button" %></th>
    <td><%= f.submit "Save", :class => "submit" %></td> 
  </tr>
</table>

<% end %>
