<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>


<%= f.hidden_field :invitation_token %>

<table id="registration_form" class="form">
  <tr>
    <th><%= f.label :login, "User name" %></th>
    <td><%= f.text_field :login %></td>
  </tr>
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <th class="annotated"><%= f.label :height %></th>
    <td class="annotated"><%= f.text_field :height, :size => "4" %> millimeters</td>
  </tr>
  <tr>
		<th>&nbsp;</th>
		<td class="field_note">Yes, this is lame. It's on the todo list. For reference, 5'10" = 1778mm. </td>
 	</tr>
  <tr>
    <th><%= f.label :birthdate %></th>
    <td><%= f.date_select :birthdate, :start_year => Time.now.year - 12, :end_year => Time.now.year - 100 %></td>
  </tr>
  <tr>
    <th><%= f.label :time_zone %></th>
    <td><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></td>
  </tr>
  <tr>
    <th><%= f.label :sex, "Gender" %></th>
    <td><%= f.radio_button :sex, "female" %> female &nbsp;  <%= f.radio_button :sex, "male" %> male</tr>
  </tr>
	<tr>
		<th><%= f.label :shared, "New workouts public?" %></th>
		<td><%= f.check_box :shared %></td>
	</tr>
  <tr>
    <th><%= f.label :password, f.object.new_record? ? nil : "Change password" %></th>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation, "Confirm password" %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <th><br></th>
    <td><%= f.submit "Save", :class => "submit" %></td> 
  </tr>
</table>

<% end %>
