<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
 
<p>
	<b>Height</b>
	<%= @user.height %>
</p>

<p>
	<b>Sex</b>
	<%= @user.sex %>
</p>

<p>
	<b>Age</b>
	<%= @user.age %>
</p>
<p><b>Time Zone:</b>
	<%= @user.time_zone %></p>
<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>
 
 
<%= link_to 'Edit', edit_account_path %>