<div class="content_header">
	<h1>
		<%=h @user.displayname %> (<%= @user.accomplishments.size * 10 %> points) 
		<% if my_page? %>
			<span class="action"><%= link_to 'edit profile', edit_user_path(current_user) %></span>
		<% end %>
	</h1>
</div>

<div class="content">
	<div id="bio">
		<table class="form">
			<tr>
				<th>Login:</th>
				<td><%= h @user.login %></td>
			</tr>
			<tr>
				<th>Display name:</th>
				<td><%= h @user.displayname %></td>
			</tr>
		</table>
	</div>
	
	<div id="achievements">
		<h2>Achievements (<%= @user.accomplishments.size * 10 %> points)</h2>

		<% @user.accomplishments.each do |a| %>
			<%=h a.achievement.name %> (<%=h time_as_date(a.created_at) %>)<br>
		<% end %>
	</div>

</div>
