<div class="content_header">
	<h1>Profile <span class="action"><%= link_to 'edit', edit_user_path(current_user) %></span></h1>
</div>

<div class="content">
	<table class="form">
		<tr>
			<th>User name:</th>
			<td><%= h @user.login %></td>
		</tr>
		<tr>
			<th>Display name:</th>
			<td><%= h @user.displayname %></td>
		</tr>
		<tr>
			<th>Email:</th>
			<td><%= h @user.email %></td>
		</tr>
		<tr>
			<th>Gender:</th>
			<td><%= h @user.sex %></td>
		</tr>
		<tr>
			<th>Age:</th>
			<td><%= h @user.age %></td>
		</tr>
		<tr>
			<th>Time zone:</th>
			<td><%= h @user.time_zone %></td>
		</tr>
		<tr>
			<th>Workouts public:</th>
			<td><%= h @user.shared %></td>
		</tr>
		</table>
		
		<h2>Achievements!</h2>
		<% @user.accomplishments.each do |a| %>
	
		"<%=h a.achievement.name %>" obtained on <%=h a.created_at %><br>
		<% end %>
	</table>
</div>
