<div class="content_header">
</div>

<div class="content">
	<table>
	<tr>
		<th>Parent</th>
		<th>Activity</th>
		<th><th>
	</tr>
	<% for activity in @activities %>
	<tr>
		<td><%= activity.name %></td>
		<td>&nbsp;</td>
		<td><%=h activity.icon_path %>
		<% form_for activity do |f| %>
		<td><%= collection_select(:activity, :parent_id, @activities, :id, :name) %>
			<%= f.submit "Save Parent", :disable_with => 'Submiting...' %>
		<% end %>
			<% form_for activity do |f| %>
			<select id="activity_icon_path" name="activity[icon_path]">
				<% for icon in @icons %>
				<option value="<%= icon %>"><%= icon %></option>
				<% end %>
			</select>
			<%= f.label :pace, "Pace" %>
			<%= f.check_box :pace %>
			<%= f.submit "Save Icon & Pace", :disable_with => 'Submiting...' %>
			<% end %>
			</select>
			<%= link_to 'Delete', activity, :method => :delete %></td>
			
	</tr>
	<% for child in activity.children %>
	<tr>
		<td>&nbsp;</td>
		<td><%= child.name %></td>
		<td>&nbsp;</td>
		<td><%= link_to 'Delete', child, :method => :delete %>
		<% form_for child do |f| %>
			<%= f.label :pace, "Pace" %>
			<%= f.check_box :pace %>
			<%= f.submit "Save Pace", :disable_with => 'Saveing Pace...' %>
			<% end %>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
<BR><BR><BR><BR>
	<h2>Create a new activity:</h2>
<% form_for @activity do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit "New Activity" %>
<% end %>
</div>