<div class="content_header">
	<div id="headline_news">
		<p class="headline_title">You've logged <%= h number_to_time(@total_time) %> across <%= @workouts.size %> workouts.</p>
		<% if !@atd.nil? && @atd > 0 %>
		<p class="headline_details">The average user logged <%= h number_to_time(@atd) %>. You are <%= h (@total_time/@atd*100).to_i %>% vs average!</p>
		<% end %>
	</div>
</div>

<div class="content">

	<div id="content_left_column" class="left_column">

		<div id="dashboard_stats">
		</div>
		
		<div id="recent_workouts">
			<% if @workouts.size > 0 %>
			<h2><%= link_to "Your recent workouts", user_workouts_path(current_user) %></h2>
			<div id="recent_workouts_chart"></div>
			<% end %>
		</div>

	</div>

	<div id="content_right_column" class="right_column">

		<div id="public_newsfeed">
			<h2>Recent public workouts</h2>
			<table class="newsfeed">
				<% @shared.each do |sw| %>
				<tr>
					<td class="first_column no_right_padding activity_icon"><%= link_to image_tag(sw.activity.root.icon_path, :class => "activity_icon_small"), activity_path(sw.activity) %></td>
					<td><%= link_to sw.activity.name, activity_path(sw.activity) %></td>
					<td class="name"><%= link_to sw.name, workout_path(sw) %></td>
					<td><%= h number_to_short_time(sw.duration) %>h</td>
					<td class="last_column"><%= h sw.user.login %></td>
				</tr>
			<% end %>
			</table>
		</div>

	</div>

</div>