<div id="content_header">
	<div id="feature_stat">
		<p class="feature_headline">You've logged <%= h number_to_time(@total_time) %> across <%= @workouts.size %> workouts.</p>
		<% if !@atd.nil? && @atd > 0 %>
		<p class="feature_details">The average user logged <%= h number_to_time(@atd) %>. You are <%= h @total_time/@atd*100 %>% vs average!</p>
		<% end %>
	</div>
</div>

<div id="content" class="clear">

	<div id="left_column">
		<div id="dashboard_stats">
			<span class="coming_soon">This section will show some aggregate comparison metrics. Please let us know what you would like to see!</span>
		</div>

		<div id="public_timeline">
			<h2>Recent public workouts</h2>
			<table>
				<% @shared.each do |sw| %>
				<tr>
					<td class="first_column"><%= h sw.user.login %></td>
					<td><%= h sw.activity.name %></td>
					<td><%= link_to sw.name, workout_path(sw) %></td>
					<td class="last_column"><%= h number_to_time(sw.duration) %></td>
				</tr>
			<% end %>
			</table>
		</div>

	</div>

	<div id="workout_right_column">
		<div id="recent_workouts_chart">
			<% if @workouts.size > 0 %>
			<span class="chart_title"><h2>Your workouts</h2></span>
			<%= ziya_chart dashboard_chart_path, :size => "528x240", :salign => "TR", :scale => "noscale" -%>
			<% end %>
		</div>
	</div>

</div>