<% title current_user.display_name + "'s Dashboard - ZED9" %>

<!-- <div class="content_header">
	<div id="headline_news"></div>
</div> -->

<div class="content" id="dashboard">

	<div class="left_column">

		<div id="dashboard_stats">
			<h2>You've logged an average of 
				<%= h number_to_mins(@my_duration_per_day) %><span class="title_unit">min/day</span> and 
				<%= h number_to_short_time(@my_total_time) %><span class="title_unit">h</span> total across 
				<%= h @my_workouts.size %> workout<% if !(@my_workouts.size == 1) %>s<% end %></h2>
				
			<% if !Average.last.nil? %>
			<p class="headline_details">The average user has logged <span class="comp_number"><%= h number_to_mins(Average.last.duration_per_day) %></span><span class="unit">min/day</span> and <span class="comp_number"><%= h number_to_short_time(Average.last.user_duration) %></span><span class="unit">h</span> across  <span class="comp_number"><%= h Average.last.workouts %></span> workouts.<br> 			
				<% if (@my_total_time/Average.last.user_duration*100).to_i > 100 %>You are <span class="comp_number"><%= h ((@my_total_time/Average.last.user_duration*100)-100).to_i %></span><span class="unit">%</span> above average!
				<% else %>You are currently <span class="comp_number"><%= h (100-((@my_total_time/Average.last.user_duration)*100)).to_i %></span><span class="unit">%</span> below average.<% end %></p>
			<% end -%>
			
		<!-- <table id="workout_stats">	
			<tr class="stat" unit="h" id="duration">
				<th class="spark_bar_title">Exercise logged per day</th>
				<td id="spark_bar"><div id="dur_comps" class="sparkbar"></div></td>
				<td class="number"><span class="value"><%= h number_to_short_time(@my_duration_per_day) %></span><span class="units">hours</span></td>
				<td>&nbsp;</td>
			</tr>
		</table>	 -->

		</div>
				
		<% if @accomplishments.size > 0 %>
		<div id="recent_achievements" class="achievements">
			<h2>You've earned <%=h @accomplishments.size %> achievement<% if @accomplishments.size != 1 %>s<% end %> this week</h2>
			<ul>
				<%= render :partial => @accomplishments, :locals => { :date => false } %>
			</ul>
		</div>
		<% end -%>
		
		<div id="recent_workouts">
			<h2><%= link_to "Your recent workouts", user_workouts_path(current_user) %></h2>
			<% if @workouts.size > 0 %>
			<div id="axis_labels">	
				<span class="y1_label">Workout duration (hours)</span>
			</div>
			<div id="recent_workouts_chart"></div>
			<% else %>
			<br>
			<div class="usage_tip"><%= link_to "Upload your first workout", user_workouts_path(current_user) %> to earn points and move up to Novice.</div>
			<% end -%>
		</div>

		<div id="summary">
			<h2><%= link_to "Your workouts in the last 3 months", user_workouts_path(current_user) %></h2>
			<div id="axis_labels">	
				<span class="y1_label">Weekly workout time (hours)</span>
				<span class="y2_label">Number of workouts</span>
			</div>
			<div id="summary_stats_graph"></div>
		</div>
		
		<div id="weight_over_time">
			<% if !@current_weight.nil? %>
				<h2><%= link_to "Current weight", user_journal_entries_path(current_user) %>: <%=h @current_weight %><span class="unit">lbs</span>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add a journal entry", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_journal_entry_path(current_user) %></h2>
				<div id="weight_over_time">
					<div id="axis_labels">	
						<span class="y1_label">Weight (pounds)</span>
					</div>
					<div id="weight_graph"></div>
				</div>
			<% else %>
				<h2><%= link_to "Current weight", user_journal_entries_path(current_user) %>: ?<span class="unit">lbs</span>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add a journal entry", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_journal_entry_path(current_user) %></h2>
				<div class="usage_tip"><%= link_to "Record your weight", new_user_journal_entry_path(current_user) %> to graph your progress, see how many calories you burn in each workout, and earn points.</div>
			<% end -%>
		</div>

		<div id="gear">
			<h2><%= link_to "Gear", user_journal_entries_path(current_user) %>&nbsp;<%= link_to image_submit_tag("/images/add.png", :class => "action_icon tip", :title => "add equipment", :alt => "+", :onmouseover => "this.src='/images/add_on.png'", :onmouseout => "this.src='/images/add.png'"), new_user_gear_path(current_user) %></h2>
			<% if current_user.gears.size > 0 %>
			<table>
				<% for gear in current_user.gears %>
				<tr>
					<td class="gear_meta">
						<div class="remaining">
							<% if !gear.percent_remaining.nil? %>
							<span class="percent_remaining <%= h gear.percent_remaining_style %>"><%= h gear.percent_remaining %>%</span><br>
							<span class="remaining <%= h gear.percent_remaining_style %>">remaining</span><br>
							<% end %>

						</div>
						<p><%= h gear.name %> <%= link_to gear.tag + " (#{gear.workouts.size})", user_workouts_path(current_user, :tag => gear.tag), :class => "tag" %></p>
					</td>
				</tr>
				<% end %>
			</table>
			<% else %>
			<div class="usage_tip"><%= link_to "Record your gear", new_user_gear_path(current_user) %> to automatically track hours and mileage. Enter the equipment's lifespan and get alerted when it's time for a replacement.</div>
			<% end -%>
		</div>

	</div>

	<div id="content_right_column" class="right_column">

		<div id="all_activity">
			<h2>Recent activity</h2>
			<table class="stream">
				<% for entry in @activity_feed %>
					<% if entry.class.name == "Workout" %>
						<tr>
							<td class="entry_image_container" rowspan="2"><%= link_to image_tag(entry.activity.root.icon_path, :class => "activity_icon tip", :alt => entry.activity.name, :title => entry.activity.name ), activity_path(entry.activity) %></td>
							<td class="entry">
								<span class="entry_headline"><%= link_to entry.user.display_name, user_path(entry.user) %> posted a new <% if entry.duration %><%= h number_to_short_time(entry.duration) %><span class="unit">h</span><% end -%><% if entry.distance %>, <%= h entry.distance_in_miles %><span class="unit">mile</span><% end -%> workout in <%= link_to entry.activity.name, activity_path(entry.activity) %>:</span>
								<% if entry.notes == "" %><%= link_to entry.name, workout_path(entry) %><% else %><%= link_to entry.name, workout_path(entry), :class => "tip", :title => entry.notes %><% end %>
							</td>
						</tr>
						<tr>
							<td class="metadata">
								Posted <%=h time_ago_in_words(entry.created_at) %> ago<% if entry.comments.size > 0 %><span class="comment_count_extended"><%= link_to "#{entry.comments.size} comments", workout_path(entry, :anchor => "comments") %></span><% end -%>
							</td>
						</tr>
					<% elsif entry.class.name == "Comment" %>
						<tr>
							<td rowspan="2" class="entry_image_container no_overflow">
								<div class="no_overflow"><%= link_to image_tag("/images/frame_sm.png", :class => "profile_pic_frame", :alt => ""), user_path(entry.user) %>
								<%= image_tag entry.user.photo.url(:small), :class => "profile_pic no_overflow", :alt => "" %></div>
							</td>
							<td class="entry">
								<span class="entry_headline">
								<% if (entry.user == find_commentable(entry.commentable_type, entry.commentable_id).user) %>
									<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <% if entry.user.sex == "female" %>her<% else %>his<% end %> own workout <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %>:
								<% else %>
								<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %> by <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).user.display_name, user_path(find_commentable(entry.commentable_type, entry.commentable_id).user) %>:
								<% end %>
								</span>
								<%= simple_format truncate_words(entry.text) %></td>
						</tr>
						<tr>
							<td class="metadata"><%=h time_ago_in_words(entry.created_at) %> ago</td>
						</tr>
					<% end %>
				<% end %>
			</table>
			<%= will_paginate @activity_feed, :page_links => false, :prev_label => "&laquo; Newer", :next_label => "Older &raquo;" %>
		</div>
				
	</div>

</div>

<%= javascript_include_tag 'dashboard-graphs' %>