<% title current_user.display_name + "'s Dashboard - ZED9" %>

<!-- <div class="content_header">
	<div id="headline_news"></div>
</div> -->

<div class="content" id="dashboard">

	<div class="left_column">

		<div id="dashboard_stats">
			<h2>You've logged <span class="your_number"><%= link_to number_to_short_time(@my_total_time), user_workouts_path(current_user) %></span><span class="title_unit">h</span> across <span class="your_number"><%= link_to @my_workouts.size, user_workouts_path(current_user) %></span> workout<% if !(@my_workouts.size == 1) %>s<% end %></h2>
			<% if !Average.last.nil? %>
			<p class="headline_details">The average user logged <span class="comp_number"><%= h number_to_short_time(Average.last.user_duration) %></span><span class="unit">h</span>. 
				<% if (@my_total_time/Average.last.user_duration*100).to_i > 100 %>You are <span class="comp_number"><%= h ((@my_total_time/Average.last.user_duration*100)-100).to_i %></span><span class="unit">%</span> above average!
				<% else %>You are currently <span class="comp_number"><%= h (100-((@my_total_time/Average.last.user_duration)*100)).to_i %></span><span class="unit">%</span> below average.<% end %></p>
			<% end -%>
		</div>
				
		<div id="recent_workouts">
			<h2><%= link_to "Your recent workouts", user_workouts_path(current_user) %></h2>
			<% if @workouts.size > 0 %>
			<div id="axis_labels">	
				<span class="y1_label">Workout duration (hours)</span>
			</div>
			<div id="recent_workouts_chart"></div>
			<% else %>
			<br>
			<div class="usage_tip"><%= link_to "Upload your first workout", user_workouts_path(current_user) %> to earn points and move up to Novice.</div>
			<% end -%>
		</div>

		<div id="summary">
			<h2>Your workouts in the last 3 months</h2>
			<div id="axis_labels">	
				<span class="y1_label">Weekly workout time (hours)</span>
				<span class="y2_label">Number of workouts</span>
			</div>
			<div id="summary_stats_graph"></div>
		</div>
		
		<% if @accomplishments.size > 0 %>
		<div id="recent_achievements" class="achievements">
			<h2>You've earned <%=h @accomplishments.size %> achievement<% if @accomplishments.size != 1 %>s<% end %> this week</h2>
			<ul>
				<%= render :partial => @accomplishments, :locals => { :date => false } %>
			</ul>
		</div>
		<% end -%>
		
		<div id="leaderboards toggle">
			<h2>Personal bests</h2>
			<% if @workouts.size > 0 %>
				<% if @farthest.size > 0 %>		
				<div class="leaderboard toggle">
					<div class="activity_headline">
						<h3><img src="../images/road.png" class="icon">
							Farthest: <span class="number_top"><%=h @farthest.first.distance_in_miles %></span><span class="unit">miles on <%=h time_as_date(@farthest.first.start_time) %></span></h3>
					</div>
					<div class="more">
						<div class="bests">
							<ol>
								<% for workout in @farthest %> 
									<li><span class="number"><%=h workout.distance_in_miles %></span><span class="unit">miles</span>: <span class="workout_name"><%= link_to workout.name, workout %></span>, <%= link_to workout.activity.name, activity_path(workout.activity) %> on <%=h time_as_date(workout.start_time) %></li>
								<% end %>
							</ol>
						</div>
					</div>
				</div>
				<% end -%>	
			
				<% if @fastest.size > 0 %>		
				<div class="leaderboard toggle">
					<div class="activity_headline">
						<h3><img src="../images/flag.png" class="icon">
							Fastest: <span class="number_top"><%= h speed_to_pace(@fastest.first) %></span><span class="unit"><%=h units(workout,:speed) %> on <%=h time_as_date(@fastest.first.start_time) %></span></h3>
					</div>
					<div class="more">
						<div class="bests">
							<ol>
								<% for workout in @fastest %> 
									<li><span class="number"><%=h speed_to_pace(workout) %></span><span class="unit"><%=h units(workout,:speed) %></span>: <span class="workout_name"><%= link_to workout.name, workout %></span>, <%= link_to workout.activity.name, activity_path(workout.activity) %> on <%=h time_as_date(workout.start_time) %></li>
								<% end %>
							</ol>
						</div>
					</div>
				</div>
				<% end -%>	
			
				<% if @longest.size > 0 %>		
				<div class="leaderboard toggle">
					<div class="activity_headline">
						<h3><img src="../images/clock.png" class="icon">
							Longest: <span class="number_top"><%=h number_to_short_time(@longest.first.duration) %></span><span class="unit">h on <%=h time_as_date(@longest.first.start_time) %></span></span></h3>
					</div>
					<div class="more">
						<div class="bests">
							<ol>
								<% for workout in @longest %> 
									<li><span class="number"><%=h number_to_short_time(workout.duration) %></span><span class="unit">h</span>: <span class="workout_name"><%= link_to workout.name, workout %></span>, <%= link_to workout.activity.name, activity_path(workout.activity) %> on <%=h time_as_date(workout.start_time) %></li>
								<% end %>
							</ol>
						</div>
					</div>
				</div>
				<% end -%>	
			
				<% if @climbers.size > 0 %>		
				<div class="leaderboard toggle">
					<div class="activity_headline">
						<h3><img src="../images/peaks.png" class="icon">
							Elevation Gain: <span class="number_top"><%=h @climbers.first.elevation_in_feet %></span><span class="unit">ft on <%=h time_as_date(@climbers.first.start_time) %></span></span></h3>
					</div>
					<div class="more">
						<div class="bests">
							<ol>
								<% for workout in @climbers %> 
									<li><span class="number"><%=h workout.elevation_in_feet %></span><span class="unit">ft</span>: <span class="workout_name"><%= link_to workout.name, workout %></span>, <%= link_to workout.activity.name, activity_path(workout.activity) %> on <%=h time_as_date(workout.start_time) %></li>
								<% end %>
							</ol>
						</div>
					</div>
				</div>
				<% end -%>	
			
				<% if @heart_pumping.size > 0 %>		
				<div class="leaderboard toggle">
					<div class="activity_headline">
						<h3><img src="../images/heart.png" class="icon">
							Heart-pumping: <span class="number_top"><%=h @heart_pumping.first.hr %></span><span class="unit">bpm on <%=h time_as_date(@heart_pumping.first.start_time) %></span></span></h3>
					</div>
					<div class="more">
						<div class="bests">
							<ol>
								<% for workout in @heart_pumping %> 
									<li><span class="number"><%=h workout.hr %></span><span class="unit">bpm</span>: <span class="workout_name"><%= link_to workout.name, workout %></span>, <%= link_to workout.activity.name, activity_path(workout.activity) %> on <%=h time_as_date(workout.start_time) %></li>
								<% end %>
							</ol>
						</div>
					</div>
				</div>
				<% end %>	
			<% else %>
			<div class="usage_tip">We'll keep your top performances by category (distance, duration, climbs, etc.) up to date here as you <%= link_to "upload workouts", new_user_workout_path(current_user) %>.</div>
			<% end -%>
		</div>

	</div>

	<div id="content_right_column" class="right_column">

		<div id="all_activity">
			<h2>Recent activity</h2>
			<table class="stream">
				<% for entry in @activity_feed %>
					<% if entry.class.name == "Workout" %>
						<tr>
							<td class="entry_image_container" rowspan="2"><%= link_to image_tag(entry.activity.root.icon_path, :class => "activity_icon tip", :alt => entry.activity.name, :title => entry.activity.name ), activity_path(entry.activity) %></td>
							<td class="entry">
								<span class="entry_headline"><%= link_to entry.user.display_name, user_path(entry.user) %> posted a new <% if entry.duration %><%= h number_to_short_time(entry.duration) %><span class="unit">h</span><% end -%><% if entry.distance %>, <%= h entry.distance_in_miles %><span class="unit">mile</span><% end -%> workout in <%= link_to entry.activity.name, activity_path(entry.activity) %>:</span>
								<% if entry.notes == "" %><%= link_to entry.name, workout_path(entry) %><% else %><%= link_to entry.name, workout_path(entry), :class => "tip", :title => entry.notes %><% end %>
							</td>
						</tr>
						<tr>
							<td class="metadata">
								Posted <%=h time_ago_in_words(entry.created_at) %> ago<% if entry.comments.size > 0 %><span class="comment_count_extended"><%= link_to "#{entry.comments.size} comments", workout_path(entry, :anchor => "comments") %></span><% end -%>
							</td>
						</tr>
					<% elsif entry.class.name == "Comment" %>
						<tr>
							<td rowspan="2" class="entry_image_container no_overflow">
								<div class="no_overflow"><%= link_to image_tag("/images/frame_sm.png", :class => "profile_pic_frame", :alt => ""), user_path(entry.user) %>
								<%= image_tag entry.user.photo.url(:small), :class => "profile_pic no_overflow", :alt => "" %></div>
							</td>
							<td class="entry">
								<span class="entry_headline">
								<% if (entry.user == find_commentable(entry.commentable_type, entry.commentable_id).user) %>
									<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <% if entry.user.sex == "female" %>her<% else %>his<% end %> own workout <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %>:
								<% else %>
								<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %> by <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).user.display_name, user_path(find_commentable(entry.commentable_type, entry.commentable_id).user) %>:
								<% end %>
								</span>
								<%= simple_format truncate_words(entry.text) %></td>
						</tr>
						<tr>
							<td class="metadata"><%=h time_ago_in_words(entry.created_at) %> ago</td>
						</tr>
					<% end %>
				<% end %>
			</table>
			<%= will_paginate @activity_feed, :page_links => false, :prev_label => "&laquo; Newer", :next_label => "Older &raquo;" %>
		</div>
				
	</div>

</div>