<div id="content_header">
	<div id="headline_news">
		<p class="headline_title">You've logged <%= h number_to_time(@total_time) %> across <%= @workouts.size %> workouts.</p>
		<% if !@atd.nil? && @atd > 0 %>
		<p class="headline_details">The average user logged <%= h number_to_time(@atd) %>. You are <%= h @total_time/@atd*100 %>% vs average!</p>
		<% end %>
	</div>
</div>

<div id="content">

	<div class="content_left_column">

		<div id="dashboard_stats">
		</div>

		<div id="recent_workouts_chart">
			<% if @workouts.size > 0 %>
			<h2>Your workouts</h2>
			<%= ziya_chart dashboard_chart_path, :salign => "TL", :width => "100%", :height => "240px" -%>
			<% end %>
		</div>

		<div id="recent_workouts" class="recent_workouts_graph"></div>

	</div>

	<div class="content_right_column">

		<div id="public_newsfeed">
			<h2>Recent public workouts</h2>
			<table class="newsfeed">
				<% @shared.each do |sw| %>
				<tr>
					<td class="first_column no_right_padding"><img class="activity_icon_small" src="/images/activities/running.png"></td>
					<td class="no_left_padding"><%= h sw.activity.name %></td>
					<td class="name"><%= link_to sw.name, workout_path(sw) %></td>
					<td><%= h number_to_short_time(sw.duration) %></td>
					<td class="last_column"><%= h sw.user.login %></td>
				</tr>
			<% end %>
			</table>
		</div>

	</div>

</div>