<!-- <div id="content_header">
	<h1>ZED9 is like Mint.com for Fitness</h1>
</div> -->

<div id="content">

	<div id="left_splash" class="left_column">

		<h3 class="qualifier">Do you use a Polar, Garmin, Suunto, or GPX tracker?</h3>
	
		<h3 class="qualifier">Do you want to know how your fitness measures up?</h3>
		
		<h2 class="marketing_tagline">Join ZED9. The last word in fitness.</h2>
			
		<p>ZED9 is a new site for fitness analysis and comparison.</p> 
			<ul>
				<li>Track and understand your own activities</li>
				<li>See how your workouts measure up</li>
				<li>Learn how to improve your performance</li>
			</ul>
			
		<p>ZED9 aggregates data from your <a href="devices">tracking devices</a> to give you meaningful analytics for each activity, indoors or out:</p> 

		<div class="marketing_screenshot">
			<img src="/images/screenshots/example_stats.png" id="example_stats">
		</div>

		<p>Join the ZED9 alpha to and start shaping the site and your fitness future.</p>

	</div>

	<div id="right_splash" class="right_column">
		<div class="request_invite">
			<p>Not a member of ZED9? We're in an early alpha and scaling as fast as we can. Put your name on the list for an invitation!</p>
			<% form_for Invitation.new do |f| %>
				<table id="join_list" class="form">
					<tr>
						<th><%= f.label :recipient_email, "Email" %></th>
						<td><%= f.text_field :recipient_email %></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><%= f.submit "Reserve your spot", :class => "submit" %>
					</tr>
				</table>
			<% end %>
		</div>

		<div id="external_newsfeed">
			<h2>Recent public workouts</h2>
			<table class="newsfeed">
				<% @shared.each do |sw| %>
				<tr>
					<td class="first_column no_right_padding activity_icon"><%= image_tag(sw.activity.root.icon_path, :class => "activity_icon_small") %></td>
					<td><%= h sw.user.login %></td>
					<td class="name"><%= link_to sw.name, workout_path(sw) %></td>
					<td class="last_column"><%= h number_to_short_time(sw.duration) %>h</td>
				</tr>
			<% end %>
			</table>
		</div>

	</div>

</div>	