<div id="root">
	<div id="headline">
		<div id="logo_big">ZED9<br>
			<span class="beta">beta<span>
		</div>
		<div id="tagline">
			<h1>Social fitness analytics</h1>
			<h3>A new way to measure, motivate, compete, and play</h3>
		</div>
	</div>

	<div id="left_splash" class="left_column">

		<div class="benefits">
		
			<h4>Tracking your progress to stay motivated</h4>
			<img src="/images/screenshots/sparkline.png">
			<p>Put the observer effect to work for you with interesting stats and graphs of the metrics you record for each activity.</p>
		
			<h4>See how you measure up</h4>
			<img src="/images/screenshots/sparkbar.png">
			<p><i>Did I go farther than usual? Am I quicker than the average bear?</i> Compare your performance on any metric against your average and against the community.
		
			<h4>Compete with anyone, anywhere</h4>
			<div id="devices">
				<img src="/images/devices/garmin405.jpg" id="garmin" class="device">
				<img src="/images/devices/iphone.jpg" id="iphone" class="device">			
				<img src="/images/devices/wintec.gif" class="device">
			</div>
			<p>All the social benefits of Nike+ with better data from <a href="devices">many popular devices</a> or entered manually. Combine data from multiple sources to get a more complete picture.</p>

			<h4>See your name in lights</h4>
			<div id="leaderboard_icons">
				<div class="leaderboard_mini"><img src="/images/flag.png">Fastest</div>
				<div class="leaderboard_mini"><img src="/images/clock.png">Longest</div>
				<div class="leaderboard_mini"><img src="/images/peaks.png">Climb</div>
			</div>
			<p>Get points and awards for big climbs, long distances, and workout hours logged. Show off your bests and go for gold on the weekly activity leader boards.</p> 
	
		</div>

	</div>

	<div id="right_splash" class="right_column">
		<div class="request_invite">
			<p>Request an invitation for the ZED9 private beta to start shaping the site and your future fitness.</p>
			<% form_for Invitation.new do |f| %>
				<div id="join_list">
					<%= f.text_field :recipient_email, :value => "Email", :class => "email_address" %>
					<%= f.submit "Request an invite", :class => "request" %>
				</div>
			<% end %>
		</div>

		<div id="all_activity">
			<h2>Recent activity</h2>
			<table class="stream">
				<% for entry in @activity_feed %>
					<% if entry.class.name == "Workout" %>
						<tr>
							<td class="entry_image_container" rowspan="2"><%= link_to image_tag(entry.activity.root.icon_path, :class => "activity_icon tip", :alt => entry.activity.name, :title => entry.activity.name ), activity_path(entry.activity) %></td>
							<td class="entry">
								<span class="entry_headline"><%= link_to entry.user.display_name, user_path(entry.user) %> posted a new <% if entry.duration %><%= h number_to_short_time(entry.duration) %><span class="unit">h</span><% end -%><% if entry.distance %>, <%= h entry.distance_in_miles %><span class="unit">mile</span><% end -%> workout in <%= link_to entry.activity.name, activity_path(entry.activity) %>:</span>
								<% if entry.notes == "" %><%= link_to entry.name, workout_path(entry) %><% else %><%= link_to entry.name, workout_path(entry), :class => "tip", :title => entry.notes %><% end %>
							</td>
						</tr>
						<tr>
							<td class="metadata">
								<%=h time_ago_in_words(entry.created_at) %> ago<% if entry.comments.size > 0 %><span class="comment_count_extended"><%= link_to "#{entry.comments.size} comments", workout_path(entry, :anchor => "comments") %></span><% end -%>
							</td>
						</tr>
					<% elsif entry.class.name == "Comment" %>
						<tr>
							<td rowspan="2" class="entry_image_container">
								<img src="/images/frame_sm.png" class="profile_pic_frame">
								<%= image_tag entry.user.photo.url(:small), :class => "profile_pic", :alt => "" %>
							</td>
							<td class="entry">
								<span class="entry_headline">
								<% if (entry.user == find_commentable(entry.commentable_type, entry.commentable_id).user) %>
									<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <% if entry.user.sex == "female" %>her<% else %>his<% end %> own workout <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %>:
								<% else %>
								<%= link_to entry.user.display_name, user_path(entry.user) %> commented on <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).name, find_commentable(entry.commentable_type, entry.commentable_id) %> by <%= link_to find_commentable(entry.commentable_type, entry.commentable_id).user.display_name, user_path(find_commentable(entry.commentable_type, entry.commentable_id).user) %>:
								<% end %>
								</span>
								<%= h entry.text %></td>
						</tr>
						<tr>
							<td class="metadata"><%=h time_ago_in_words(entry.created_at) %> ago</td>
						</tr>
					<% end %>
				<% end %>
			</table>
			<%= will_paginate @activity_feed, :page_links => false, :prev_label => "&laquo; Newer", :next_label => "Older &raquo;" %>
		</div>

	</div>
</div>