<h1>Listing activities</h1>

Hello <%=h current_user.email %>
<div class="data">
<table>
  <tr>
    <th>Name</th>
    <th>type</th>
    <th>Start time</th>
    <th>Avg. HR</th>
    <th>End time</th>
  </tr>

<% for activity in @activities %>
  <tr>
    <td><%=h activity.name %></td>
    <td><%=h activity.type %></td>

    <td><%=h activity.start_time %></td>
    <td><%=h activity.average_hr %></td>
    <td><%=h activity.end_time %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New activity', new_activity_path %>

<% form_tag( {:action => 'upload'}, {:multipart => true} ) do -%> 
<p> 
<label for="file">File:</label><%= 
file_field_tag "xml_file" %><br/> 
<%= submit_tag "Submit" %> 
</p> 
<% end -%> 