<div class="content_header">
	<h1><%= image_tag(@activity.root.icon_path, :class => "activity_icon") %><%=h @activity.name %></h1>
</div>

<div class="content">

	<div id="activity_left_column" class="left_column">


		<div id="leaderboards">
			<h2>Leader boards for the last 7 days</h2>

			<% if @farthest.size > 0 %>		
			<div class="leaderboard">
				<div class="activity_headline" onMouseOver="show_bests('')" onMouseOut="hide_bests('')">
					<h3><img src="../images/road.png" class="icon">
						Farthest: <span class="number_top"><%= link_to @farthest.first.distance_in_miles, workout_path(@farthest.first) %></span><span class="unit">miles by</span> <span class="display_name"><%= link_to @farthest.first.user.display_name, user_workouts_path(@farthest.first.user) %></span><span class="unit">, <%=h time_as_date(@farthest.first.start_time) %></span></h3>
				</div>
				<div class="more">
					<div class="bests">
						<ol>
							<% for workout in @farthest %> 
								<li><span class="number"><%=h workout.distance_in_miles %></span><span class="unit">miles</span>: <span class="workout_name"><%= link_to workout.name, workout_path(workout) %></span> by <%= link_to workout.user.display_name, user_workouts_path(workout.user) %>, <%=h time_as_date(workout.start_time) %></li>
							<% end %>
						</ol>
					</div>
				</div>
			</div>
			<% end %>	

			<br>
			
			<% if @fastest.size > 0 %>		
			<div class="leaderboard">
				<div class="activity_headline" onMouseOver="show_bests('')" onMouseOut="hide_bests('')">
					<h3><img src="../images/flag.png" class="icon">
						Fastest: <span class="number_top"><%= link_to @fastest.first.avg_speed_in_mph, workout_path(@fastest.first) %></span><span class="unit">mph by</span> <span class="display_name"><%= link_to @fastest.first.user.display_name, user_workouts_path(@fastest.first.user) %></span><span class="unit">, <%=h time_as_date(@fastest.first.start_time) %></span></h3>
				</div>
				<div class="more">
					<div class="bests">
						<ol>
							<% for workout in @fastest %> 
								<li><span class="number"><%=h workout.avg_speed_in_mph %></span><span class="unit">mph</span>: <span class="workout_name"><%= link_to workout.name, workout %></span> by <%= link_to workout.user.display_name, user_workouts_path(workout.user) %>, <%=h time_as_date(workout.start_time) %></li>
							<% end %>
						</ol>
					</div>
				</div>
			</div>
			<% end %>	

			<br>

			<% if @longest.size > 0 %>		
			<div class="leaderboard">
				<div class="activity_headline" onMouseOver="show_bests('')" onMouseOut="hide_bests('')">
					<h3><img src="../images/clock.png" class="icon">
						Longest: <span class="number_top"><%=h number_to_short_time(@longest.first.duration) %></span><span class="unit">h by</span> <span class="display_name"><%= link_to @longest.first.user.display_name, user_workouts_path(@longest.first.user) %></span><span class="unit">, <%=h time_as_date(@longest.first.start_time) %></span></h3>
				</div>
				<div class="more">
					<div class="bests">
						<ol>
							<% for workout in @longest %> 
								<li><span class="number"><%=h number_to_short_time(workout.duration) %></span><span class="unit">h</span>: <span class="workout_name"><%= link_to workout.name, workout %></span> by <%= link_to workout.user.display_name, user_workouts_path(workout.user) %>, <%=h time_as_date(workout.start_time) %></li>
							<% end %>
						</ol>
					</div>
				</div>
			</div>
			<% end %>	

			<br>

			<% if @climbers.size > 0 %>		
			<div class="leaderboard">
				<div class="activity_headline" onMouseOver="show_bests('')" onMouseOut="hide_bests('')">
					<h3><img src="../images/peaks.png" class="icon">
						Elevation Gain: <span class="number_top"><%=h @climbers.first.elevation_in_feet %></span><span class="unit">ft by</span> <span class="display_name"><%= link_to @climbers.first.user.display_name, user_workouts_path(@climbers.first.user) %></span><span class="unit">, <%=h time_as_date(@climbers.first.start_time) %></span></h3>
				</div>
				<div class="more">
					<div class="bests">
						<ol>
							<% for workout in @climbers %> 
								<li><span class="number"><%=h workout.elevation_in_feet %></span><span class="unit">ft</span>: <span class="workout_name"><%= link_to workout.name, workout %></span> by <%= link_to workout.user.display_name, user_workouts_path(workout.user) %>, <%=h time_as_date(workout.start_time) %></li>
							<% end %>
						</ol>
					</div>
				</div>
			</div>
			<% end %>	

			<br>

			<% if @heart_pumping.size > 0 %>		
			<div class="leaderboard">
				<div class="activity_headline" onMouseOver="show_bests('')" onMouseOut="hide_bests('')">
					<h3><img src="../images/heart.png" class="icon">
						Heart-pumping: <span class="number_top"><%=h @heart_pumping.first.hr %></span><span class="unit">bpm by</span> <span class="display_name"><%= link_to @heart_pumping.first.user.display_name, user_workouts_path(@heart_pumping.first.user) %></span><span class="unit">, <%=h time_as_date(@heart_pumping.first.start_time) %></span></h3>
				</div>
				<div class="more">
					<div class="bests">
						<ol>
							<% for workout in @heart_pumping %> 
								<li><span class="number"><%=h workout.hr %></span><span class="unit">bpm</span>: <span class="workout_name"><%= link_to workout.name, workout %></span> by <%= link_to workout.user.display_name, user_workouts_path(workout.user) %>, <%=h time_as_date(workout.start_time) %></li>
							<% end %>
						</ol>
					</div>
				</div>
			</div>
			<% end %>	

		</div>

		<!-- Additional leaderboards to implement:
			- Highest total (cumulative) distance
			- Longest (cumulative) total time
			- Most dedicated (total workouts)
			- Most "fit"
		-->

	</div>


	<div id="activity_right_column" class="right_column">

		<!-- To do: How everyone for this activity measures up to ZED9 as a whole, plus how you measure up if logged in 
		<div id="activity_summary_stats">
		</div>
		-->

		<div id="public_newsfeed">
			<h2>Recent public workouts</h2>
			<table class="newsfeed">
				<% @shared.each do |sw| %>
				<tr>
					<td class="first_column"><%= link_to sw.name, workout_path(sw) %></td>
					<td class="duration"><% if !sw.duration.nil? %><%= h number_to_short_time(sw.duration) %><span class="unit">h</span><% end %><br></td>
					<td class="distance"><% if !sw.distance_in_miles.nil? %><%=h sw.distance_in_miles %><span class="unit">miles</span><% end %><br></td>
					<td class="last_column"><%= link_to sw.user.display_name, user_workouts_path(sw.user) %> </td>
				</tr>
				<% end %>
			</table>
		</div>

		<!-- To do: tag cloud for workouts in this activity 
		<div id="tag_cloud">
			<h2>Tags</h2><br>
			<span class="coming_soon">Coming soon</span>
		</div>
		-->

		
	</div>

</div>