<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>ZED9 :: Fitness Analytics</title>
	<%= stylesheet_link_tag 'zed9' %>
	<!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAvU42PbbC7bWUhStzI3RlMhQZiU-SaFglGsFTRe1m_oOlmqu08xQd-xs3xjhEcWmmoll7uw24dRQfYA"></script>
    <%= javascript_include_tag 'jquery', 'jquery.jeditable', 'jquery.flot', 'jquery.qtip-1.0.0-rc2', 'jquery.tablesorter', 'jquery.notice' %>
	<%= javascript_include_tag 'maps', 'application' %>
</head>
<body>

	<%= render :partial => "layouts/feedback" %>

	<div id="wrapper">
	
		<div id="header">

			<div id="logo">
				<%= link_to "ZED9", root_path %><span class="beta">beta</span>
			</div>

			<% if current_user %>

			<div id="nav">
				<ul>
					<li class="first"><%= link_to "Workouts", user_workouts_path(current_user) %></li>
					<li class="last"><%= link_to "Profile", current_user %></li>
				</ul>
			</div>
			<% end %>

			<%= render :partial => "layouts/loginpane" %>

		</div>

		<!-- Flash notices -->

		<% if flash[:notice] %>
			<% for f in flash[:notice] do %>
			<div class="notice timed" type="notice">
				<%= h f %>
			</div>
			<% end %>
		<% end %>
		
		<% if flash[:alert] %>
			<% for f in flash[:alert] do %>
				<div class="notice sticky" type="alert">
					<%=h f %>
				</div>
			<% end %>
		<% end %>

		<% if flash[:warning] %>
			<% for f in flash[:warning] do %>
				<div class="notice sticky" type="warning">
					<%= h f %>
				</div>
			<% end %>
		<% end %>

		<% if flash[:achievement] %>
			<% for f in flash[:achievement] do %>
			<div class="notice sticky" type="achievement">
				<%= h f %>
			</div>
			<% end %>
		<% end %>

		<% if flash[:info] %>
			<% for f in flash[:info] do %>
			<div class="notice sticky" type="info">
				<%= h f %>
			</div>
			<% end %>
		<% end %>

		<!-- End flash notices -->
		
		<div id="main">
			<%= yield  %>
		</div>

		<div class="clearfooter"></div>

	</div>
	
	<div id="footer">
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li class="last"><a href="http://zed9.uservoice.com" target="_new">Vote on new features!</a>
		</ul>
		© 2009 ZED9. All rights reserved.

	</div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-8530377-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
